.authPage {
    width: 100vw;
    height: 100vh;
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authBox {
    width: 500px;
    height: 250px;
    background-color: white;
    box-shadow: 5px 4px 13px 6px #d2d2d2;
    border-radius: 2px;
    display: flex;
    flex-flow: column;
}

.authTitle {
    font-size: 26px;
    font-weight: 100;
    text-align: center;
    padding: 26px;
}


.btn, button {
    background-color: var(--color-gray);
    border: none;
    color: var(--color-text);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0.5rem 1rem 0.5rem 0;
}

button.btn-google {
    background-color: #f2f2f2;
    width: fit-content;
    margin: 0 auto;
}

.btn-google img {
    width: 30px;
    margin-right: 10px;
}
img {max-width: 100%;}
